.body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

.TopNav{
    background-color: #393D3F;
    overflow: hidden;
}

.TopNav a{
    float: left;
    color: #62929E;
    text-align: center;
    padding: 1vw 3vh;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #C6C5B9;
    color: black;
  }
  
.topnav a.active {
    background-color: #546A7B;
    color: white;
}

